.mat-form-field {
    margin-left: 5%;
    margin-top: -1%;
    margin-bottom: -3%;
}

table {
    margin-bottom: 0px;
}

.mat-header-cell {
    justify-content: left;
    font-size: medium;
    padding: 0px 0px 0px 0px;
}

label {
    font-size: x-large;
    font-weight: bold;
    margin-left: 15px;
}

.row {
    display: flex;
    /* padding-inline: 2%; */
}

.column {
    box-sizing: content-box;
    width: 50%;
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color:rgb(243, 240, 250);
}

h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}
/* 
.edit-form {
    margin-top: 0px;
    margin-inline: 20px;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#ffffe6 ;
} */
.spot-form {
    width: auto;
    margin-inline: 5%;
    padding: 10px;
    position: fixed;
    top: 65px;
    background-color: rgb(183, 255, 187)
}

.stock-form {
    width: auto;
    margin-inline: 5%;
    padding: 10px;
    position: fixed;
    bottom: 65px;
    background-color: rgb(236, 159, 159)
}


p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}


ul li a {
    color: white;
}

.nav-link {
    padding: 0px;
    font-size: 14px;
}

/* div {
    margin-left: 10px;
    margin-right: 10px;
} */

/* footer {   
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:rgb(243, 240, 250);
 } */
 /* .mat-paginator {
    margin-right: 10px;
    background:rgb(243, 240, 250);
 } */

 button {
     margin-right: 5px;
     margin-bottom: 5px;
 }