<body>
    
    <mat-form-field appearance="fill">
        <mat-label>Select a symbol</mat-label>
        <mat-select [(value)]="selectedSymbol" (selectionChange)="selectChangeHandler($event)">
            <mat-option value="USDCAD">USDCAD</mat-option>
            <mat-option value="CADJPY">CADJPY</mat-option>
            <mat-option value="EURUSD">EURUSD</mat-option>
            <mat-option value="USDJPY">USDJPY</mat-option>
        </mat-select>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let quote"> {{quote.symbol}} </td>
        </ng-container>
      
        <ng-container matColumnDef="tenor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tenor</th>
          <td mat-cell *matCellDef="let quote"> {{quote.tenor}} </td>
        </ng-container>
      
        <ng-container matColumnDef="quoteTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let quote"> {{quote.fxSpot.quoteTime | date:'medium'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let quote"> {{quote.price}} </td>
        </ng-container>
      
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data with the symbol: "{{selectedSymbol}}"</td>
        </tr>

      </table>
      <mat-spinner [diameter]="200" *ngIf="quotes.length === 0"></mat-spinner>
</body>

<footer>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</footer>